footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2464c9;
  color: #fff;
  flex-direction: row;
  width: 100%;
  margin-top: 24px;
  padding-left: 16px;
  box-sizing: border-box;
}

.navbarfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

.footertext {
  color: white;
  padding-right: 16px;
  padding: 10px;
  text-decoration: none;
}

.footertext:hover {
  color: lightgrey;
}


@media (max-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2464c9;
    color: #fff;
    flex-direction: column;
  }

  .navbarfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0px;
    text-decoration: none;
    color: white;
    text-align: center;
  }

.footertext {
    color: white;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
}

