
:root {
  --bg-color: #F5F5F5;
  --text-color: #000000;
  --header-bg: #2464c9;
  --footer-bg: #2464c9;
  --link-color: #2464c9;
  --heading-color: #1a1a1a;
  --box-bg-color: #eeeeee;
}

[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --header-bg: #1a1a1a;
  --footer-bg: #1a1a1a;
  --link-color: #66a3ff;
  --heading-color: #ffffff;
  --box-bg-color: #262626;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth !important;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  width: 100%;
}

#text {
  font-size: 20px;
  color: var(--text-color);
}